@font-face {
    font-family: 'ONE-PIECE';
    src:url(../ONE-PIECE.ttf.woff) format('woff'),
        url(../ONE-PIECE.ttf.svg#ONE-PIECE) format('svg'),
        url(../ONE-PIECE.ttf.eot),
        url(../ONE-PIECE.ttf.eot?#iefix) format('embedded-opentype'); 
    font-weight: normal;
    font-style: normal;
}

#num1{
    font-family:ONE-PIECE;
    font-size: 3.5em;
}
#links{
    background-color: rgb(228, 79, 79);
    border-radius: 1em;
    padding-left: auto;
    color: rgb(0, 0, 0);
    width: auto;
    background-image: url(../img/OpcionNav.gif);
    background-size: 100%;
    box-shadow: 0 0 60px 0 rgb(0, 255, 255);
}
body{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 160;
}

h2{
    text-align: center;
}
h3{
    text-align: center;
}
h4{
    text-align: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
#tipofruta{
    height: 60%;
    width: 100%;
}

#Tipos div{
    text-align: center;
    box-shadow: 0 0 6px 0 rgb(0, 0, 0);

}

#btn{
    width: 80%;
    height: 10%;
    font-size: 25px;
}
#cuadro{
    box-shadow: 0 0 6px 0 rgb(0, 0, 0);
}

#tipohaki{
    height: 45%;
    width: 80%;
}

#giffruta{
    width: 100%;
    height: 90%;
}
#barco{
    width: 50%;
    height: 50%;
}
footer{
    text-align: center;
    /* background-color: rgb(243, 247, 250); */
    flex-wrap: wrap;
    background-color: rgba(226, 226, 226, 0.746);
}
.segundomenu li{
    list-style: none;
    background: #EAECEE;
    list-style: none;
    display: inline-block;
    text-decoration: none;
    
}

#facebook{
    width: 27px;
    height: 18px;
    object-position: center;

}

#twitter{
    width: 27px;
    height: 18px;
    object-position: center;
}

#instagram{
    width: 27px;
    height: 18px;
    object-position: center;

}

#whatsapp{
    width: 27px;
    height: 18px;
    object-position: center;

}
nav{
    background-image: url(../img/PruebaNav.png);
    background-size: cover;
    background-attachment: fixed;
}
